html, body{
	margin:0;
	padding:0;
}
ul{
		margin-top:23px;
	margin-left: 26px;
	font-family: Verdana;
	width: 85vw;
	font-size:14px;
	line-height: 20px;
}

p{
	margin-top:23px;
	margin-left: 26px;
	font-family: Verdana;
	width: 85vw;
	font-size:14px;
	line-height: 20px;
}
h1{
	margin-top:23px;
	margin-left: 26px;
	font-family: Verdana;
	width: 85vw;
	font-size:25px;
	line-height: 40px;
	color: white;
	background-color: red;
	padding-top:9px;
	padding-bottom: 8px;
	padding-left:26px;
}


h3{
	margin-top:23px;
	margin-left: 26px;
	font-family: Verdana;
	width: 85vw;
	font-size:14px;
	line-height: 30px;
	color: black;
	/*background-color: red;
	padding-top:9px;
	padding-bottom: 8px;
	padding-left:26px;*/
}