html, body{
	margin:0;
	padding:0;
}
.home{
	margin-top:23px;
	margin-left: 26px;
	font-family: Verdana;
	width: 85vw;
	font-size:25px;
	line-height: 40px;
	color: white;
	background-color: red;
	padding-top:9px;
	padding-bottom: 8px;
	padding-left:26px;
}
ul{
		margin-top:23px;
	margin-left: 65px;
	font-family: Verdana;
	width: 86vw;
	font-size:14px;
	line-height: 20px;
}
.rb{
	/*position: absolute;
	top: 971px;
	left: 13px;*/
	width: 100vw;
	height: 30vw;
	background-image: url("mb.png");
	background-size: cover;
	background-position: center;
}

p{
	margin-top:23px;
	margin-left: 65px;
	font-family: Verdana;
	width: 86vw;
	font-size:14px;
	line-height: 20px;
}
h1{
	margin-left: 3px;
	font-family: Verdana;
	width: 94vw;
	font-size:20px;
	line-height: 55px;
	color: white;
	background-color: red;
	padding-top:13px;
	padding-bottom: 13px;
	padding-left:59px;
	padding-right: 0px;


h3{
	margin-top:23px;
	margin-left: 65px;
	font-family: Verdana;
	width: 86vw;
	font-size:14px;
	line-height: 30px;
	color: red;
	/*background-color: red;
	padding-top:9px;
	padding-bottom: 8px;
	padding-left:26px;*/
}