html, body{
	margin:0;
	padding:0;
}


.headline2{
	position: absolute;
	
	left:65vw;
	top:18px;
	width: 100vw;
	font-family: 'Staatliches', cursive;
	font-size: 4vw;
	font-weight: 100;
	line-height: 38px;
	color: black;
	text-align: left;
	/*padding-top:8px;
	padding-bottom: 8px;
	padding-left:20px;*/
}

.headline{
	/*position: absolute;
	top: 3vw;
	left:4vw;*/
	width: 100vw;
	font-family: 'Staatliches', cursive;
	font-size: 12.4vw;
	font-weight: 100;
	line-height: 38px;
	color: white;
	text-align: left;
	padding-top:9px;
	padding-bottom: 8px;
	padding-left:26px;
	background-color: red;
}

.intro{
	/*position: absolute;
	top: 78px;
	left:13px;*/
	margin-top:23px;
	margin-left: 26px;
	margin-bottom: 20px;
	font-family: verdana;
	width: 85vw;
	font-size:14px;
	line-height: 20px;
}

.foods{
	top: 1px;
}
.redrec{
	/*position: absolute;
	top: 19px;
	left: 12px;*/
	width: 94vw;
	height: 44px;
	background-color: red;
}
img{width: 100vw;
	height: 30vw;
	background-image: url("bbq.jpg");
	background-size: cover;
	
	margin-top: 10px

}
.bbq{
	/*position: absolute;
	top: 215px;*/
	/*left: 13px;*/
	width: 100vw;
	height: 30vw;
	background-image: url("bbq.jpg");
	background-size: cover;
	
	margin-top: 20px
}
.lamb{
	/*position: absolute;
	top: 593px;
	left: 13px;*/
	width: 100vw;
	height: 30vw;
	background-image: url("lamb.jpg");
	background-size: cover;
	background-position: center;
	margin-top: 10px
}
.rb{
	/*position: absolute;
	top: 215px;
	left: 356px;*/
	width: 100vw;
	height: 30vw;
	background-image: url("rb.jpg");
	background-size: cover;
	background-position: center;
	margin-top: 10px
}
.cs{
	/*position: absolute;
	top: 593px;
	left: 356px;*/
	width: 100vw;
	height: 30vw;
	background-image: url("cs.png");
	background-size: cover;
	background-position: center;
	margin-top: 10px
}
.mb{
	/*position: absolute;
	top: 971px;
	left: 13px;*/
	width: 100vw;
	height: 30vw;
	background-image: url("mb.png");
	background-size: cover;
	background-position: center;
	margin-top: 10px
}
.bbq-hover{
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background-color: black;
	opacity:0;
	transition:all 0.25s ease-in-out;
}
.rb-hover{
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background-color: black;
	opacity:0;
	transition:all 0.25s ease-in-out;
}
.lamb-hover{
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background-color: black;
	opacity:0;
	transition:all 0.25s ease-in-out;
}
.cs-hover{
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background-color: black;
	opacity:0;
	transition:all 0.25s ease-in-out;
}
.mb-hover{
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background-color: black;
	opacity:0;
	transition:all 0.25s ease-in-out;
}
.rb-hover{
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background-color: black;
	opacity:0;
	transition:all 0.25s ease-in-out;
}

/*.background{
position:absolute;
top:0;
bottom:0;
width: 100vw;
height: 100vh;
background-color: rgb(255,255,255);
}*/
@media(min-width: 711px){